SplashScreen.ui
VentanaPrincipal.ui
__pycache__/clases.cpython-39.pyc
__pycache__/SplashScreen.cpython-39.pyc
__pycache__/VentanaPrincipal.cpython-39.pyc
Modulos/Separador/__pycache__/Separador.cpython-39.pyc
Modulos/Separador/Funciones/__pycache__/funcionPrueba.cpython-39.pyc
